
/* masthead */

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 200px;
    color: white;
    background:  white;
 }
 .hng-cont-main {
     padding-top: 60px;
 }

 header.masthead .header-content .hng-h1 {
     color: #084482;
     font-weight: normal;
 }
 header.masthead .header-content .hng-p {
    color: #084482;
}
.hng-img {
  width: 110%;
}
  
  header.masthead .header-content {
    animation: 2s ease-out 2s slideInFromLeft;
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 0px;
  }
  header.masthead .header-content .track-button {
    visibility: hidden;
  }
  header.masthead .no-desktop {
    visibility: hidden;
  }
 
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  
  header.masthead .device-container .screen img {
    border-radius: 3px;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead .header-content .hng-h1 {
        font-size: 50px;
        width: 464px;
        height: 56px;
        font-weight: normal;
        color: white;
      }
    header.masthead .header-content .hng-p {
        color: white;
        width: 464px;
        font-weight: 200;
    }      
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left;
    }
    header.masthead .header-content h1 {
      font-size: 50px;
          }
    header.masthead .hng-container {
      max-width: 700px;
      margin-top: 00px;
      margin-left: -120px;
    }

    header.masthead {
        position: relative;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 100px;
        color: white;
        background:  #24116A;
     }
     header.masthead .header-content .track-button {
      visibility: visible;
      background: rgba(255, 255, 255, 0.14);
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      color: white;
      margin-left:10px;
      margin-bottom: 10px;
      width: 165px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      padding: 10px 0;
      margin: 10px 5px;
    }
    header .screen {
      width: 690px;
      height: 100%;
    }
    .no-desktop {
      visibility: hidden;
    }

  }

/* gallery */

.hng-gallery-h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00AEFF;
}