

body {
  height: 100%;
  background-color: grey;
  background-image: grey;
}
/* masthead */

header.masthead {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 200px;
    color: white;
    background:  white;
 }

 header.masthead .header-content .ment-h1 {
     color: #084482;
     font-weight: normal;
 }
 header.masthead .header-content .ment-p {
    color: #084482;
}
.mt-auto, .my-auto {
   margin-top: 0!important; 
}
.ment-img {
  width: 125%;
}
  
  header.masthead .header-content {
    animation: 2s ease-out 2s slideInFromLeft;
    max-width: 500px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 40px;
  }
  header.masthead .header-content .track-button {
    visibility: hidden;
  }
  header.masthead .no-desktop {
    visibility: visible;
  }
 
  header.masthead .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
  }
  
  header.masthead .device-container .screen img {
    border-radius: 3px;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 80vh;
      min-height: 630px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead .header-content .ment-h1 {
        font-size: 50px;
        width: 241px;
        height: 116px;
        font-weight: normal;
        color: white;
      }
    header.masthead .header-content .ment-p {
        color: white;
        width: 365px;
    }      
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left;
    }
    header.masthead .header-content h1 {
      font-size: 50px;
    }
    header.masthead .ment-container {
      max-width: 700px;
      margin-top: 00px;
      margin-left: -120px;
    }
    header.masthead .ment-img-6 {
      height: 20%;
      position: absolute;
      top: 52%;
      right: 30%; 
    }
    header.masthead {
        position: relative;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 100px;
        color: white;
        background:  #24116A;
     }
     header.masthead .header-content .track-button {
      visibility: visible;
      background: rgba(255, 255, 255, 0.14);
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 5px;
      color: white;
      margin-left:10px;
      margin-bottom: 10px;
      width: 165px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      padding: 10px 0;
      margin: 10px 5px;
    }
    header .screen {
      width: 690px;
      height: 100%;
    }
    .no-desktop {
      visibility: visible;
    }

  }


  /* MODAL */
  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #084482;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #084482;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: 0;
}

.caption-container {
  text-align: center;
  background-color: white;
  padding: 2px 16px;
  color: #24116A;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}


.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 700px) {
  .ment-img {
    width: 100%;
  }

  .img-mobile{
    visibility: visible !important;
  }
  .ment-container {
    width: 100%;
  }
  header {
    height: 400px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.column img {
  margin-top: 2px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .no-desktop {
    visibility: hidden !important;
    display: none;
  }

}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
}



.team-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  background: white;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
  overflow: hidden;
  transition: 0.45s ease 0.05s;
  max-height: 70px;
}
.header-title {
  width: 100%;
  font-size: 3.3em;
  color: #fff;
  margin-bottom: 15px;
}

.team-container {
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.person {
  width: calc(25% - 30px);
  cursor: pointer;
  overflow: hidden;
  transition: 0.45s;
  position: relative;
}
.person-details {
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: -15px;
  transition: 0.3s;
}
.person-img {
  width: 100%;
}
.person-title {
  font-size: 2em;
  color: #00AEFF;
  font-weight: bold;
}
.person-desc {
  color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: #084482;
}
.person-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.person-list:hover .person {
  opacity: 0.6;
}
.person:hover {
  opacity: 1 !important;
}
.person:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  content: "";
  height: 0px;
  transition: 0.45s;
}
.person:after {
  content: "\f2ca";
  font-family: "Ionicons";
  font-size: 36px;
  color: #282828;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  left: 0;
  flex-direction: column;
}

.container-selected .header {
  max-height: 0px;
}
.container-selected .person {
  opacity: 0 !important;
  pointer-events: none;
}
.container-selected .person-list .person-selected {
  opacity: 1 !important;
}
.container-selected .person-list .person-selected:before {
  height: 100%;
}
.container-selected .person-list .person-selected .person-details {
  margin-top: -40px;
  opacity: 0;
}

.team-detail {
  position: fixed;
  width: calc(100% - 100px);
  right: 80px;
  top: 0;
  height: 100%;
  color: grey;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  background: #fff;
  z-index: 99;
}
.team-detail-bio {
  padding-left: 5px;

}
.team-detail-bio-content p {
  margin-bottom: 15px;
  line-height: 25px;
  font-size: 1.05em;
}
.team-detail-header {
  margin-bottom: 30px;
}
.team-detail-inner {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.team-detail-left {
  position: relative;
  width: 650px;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.team-detail-left:before {
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(40, 40, 40, 0.8);
  position: absolute;
  right: 0;
  top: 0;
}
.team-detail-left:after {
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, rgba(40, 40, 40, 0) 9%, rgba(40, 40, 40, 0) 10%, rgba(40, 40, 40, 0) 38%, #282828 92%, #282828 100%);
  position: absolute;
  right: 0;
  top: 0;
}
.team-detail-photo {
  position: relative;
  text-align: center;
  z-index: 999;
  width: 100%;
  font-size: 0px;
}
.team-detail-photo img {
  max-width: 100%;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
}
.team-detail-right {
  box-sizing: border-box;
  width: calc(100% - 650px);
  min-height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10%;
  position: relative;
  right: 0;
  flex-wrap: wrap;
}
.team-detail-right .person-title {
  font-size: 2.2em;
  color: #00AEFF;
  font-weight: bold;
}
.team-detail-right .person-desc {
  color: #00AEFF;
}

.container-ready .team-detail {
  transition: 0.45s ease 0.3s;
  opacity: 1;
  right: 0;
  visibility: visible;
}
.container-ready .team-detail img {
  width: 75%;
}
.container-ready .team-container {
  height: 0px;
  overflow: hidden;
}
.container-ready .person-selected {
  left: 0px !important;
  top: 0px !important;
  z-index: 99;
  height: 100% !important;
  width: 100px !important;
  pointer-events: auto;
}
.container-ready .person-selected:after {
  opacity: 1;
  visibility: visible;
}

.person-back:before {
  height: 0px !important;
}
.person-back .person-details {
  margin-top: -15px !important;
  transition-delay: 0.35s;
  opacity: 1 !important;
}

.social {
  margin-top: 8px;
}
.social a {
  color: #00AEFF;
  font-size: 20px;
  margin-right: 8px;
}
.social a:last-child {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .team-detail-left {
    width: 400px;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .team-detail-right {
    padding-right: 0;
    width: calc(100% - 440px);
    background: #fff;
  }

  .person .person-title {
    font-size: 1.7em;
    color: #00AEFF;
    font-weight: bold;
  }

  .person-details {
    padding: 0 10px;
    color: #00AEFF;
  }
}
@media (max-width: 970px) {
  .team-detail-left {
    width: 100%;
    padding: 50px 50px 30px 50px;
  }
  .team-detail-left:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212121 83%, #282828 100%);
  }

  .team-detail-right {
    padding: 0 50px;
    width: 100%;
  }

  .team-detail-header {
    text-align: center;
  }

  .container-ready .person-selected {
    width: 50px !important;
  }

  .team-detail {
    width: calc(100% - 50px);
  }

  .person {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .person {
    width: 100%;
    margin-bottom: 50px;
  }

  .header {
    margin-top: 50px;
  }
}
