
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato';
}

a {
  color: #00AEFF;
  transition: all .35s;
}

a:hover, a:focus {
  color: #00AEFF;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/* navbar */

button {
  outline: none;
}


.navbar-light .navbar-nav .nav-link {
  color: #333333;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #00aeff;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #00aeff;
}
.header-btn {
  background-color: #00aeff;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-left: 5rem !important;
  }
}
/*footer */
.footer {
    background-color: #24116a;
    color: white;
  }
  
  .footer h5 {
    font-family: 'Lato', sans-serif;
  }
  
  
  .footer ul li a:hover {
    color: rgba(0,0,0,.5);
    text-decoration: none;
  }
  
  .input-group .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .input-group-append button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  @media (min-width: 992px) {
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .contact {
    font-size: 48px;
    line-height: 67px;
  }
  }
  @media (max-width: 600px) {
    .no-desktop{
      visibility: visible;
    }
  }