.main_con{
    min-height: 100vh !important;
    padding-top: 100px !important;
}

.removepad{
    padding: 0 !important;
}

.containe{
    width: 90% !important;
    margin: 0 auto !important;
}

button{
    border: none !important;
    font-family: var(--button-font);
    font-size: 16px;
    color: var(--bright-color);
    background: var(--main-color);
    height: 50px;
    width: fit-content;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none !important;
}

label{
    font-size: 16px !important;
}

input,select{
    width: 100% !important;
    height: 60px !important;
    padding-left: 15px !important;
    border: 1px solid var(--input-stroke);
    outline: none !important;
}


::placeholder,option{
    font-size: 16 !important;
    color: var(--place-holder);
}

h1{
    font-size: 32px !important;
    font-family: var(--header-font) !important;
    color: var(--link-color) !important;
}

h2{
    font-size: 25px !important;
    font-family: var(--header-font) !important;
    color: var(--main-color) !important;
    line-height: 35px !important;
}

h3{
    font-size: 21px !important;
    font-family: var(--header-font) !important;
    color: var(--link-color) !important;
    line-height: 29px !important;
}

h4{
    font-size: 18px !important;
    font-family: var(--text-font) !important;
    color: var(--dark-color) !important;
    line-height: 29px !important;
}

h6{
    font-size: 16px !important;
    font-family: var(--header-font) !important;
    color: var(--link-color) !important;
    line-height: 29px !important;
    cursor: pointer;
    width: max-content;
}

p{
    font-size: 16px !important;
    font-family: var(--text-font) !important;
    color: var(--dark-color) !important;
    line-height: 29px !important;
}

@media only screen and (min-width: 768px){
    .containe{
        width: 80% !important;
    }    

    h2{
        font-size: 32px !important;
    }    
}

@media only screen and (min-width: 1200px){
    .containe{
        width: 1200px !important;
    }
}